/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, sm, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'ZenKakuGothicNew-Black';
  src: url("../font/ZenKakuGothicNew-Black.ttf");
}

@font-face {
  font-family: 'BlackOpsOne-Regular';
  src: url("../font/BlackOpsOne-Regular.ttf");
}

.section_contact .section-content #contact .contact .contact_content .contact_text, .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up .up_content a .up_span, .section_contact .section-content #contact .contact .contact_content .contact_map, .section_contact .section-content #contact .contact .contact_content .contact_map .contact_map_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.section_contact {
  position: relative;
  height: 76vh;
}

.section_contact::before {
  content: '';
  width: 50%;
  height: 50%;
  background: url("../images/Component7.svg");
  background-size: cover;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: -1px;
}

.section_contact .section-content #contact .contact {
  width: 1400px;
  height: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.section_contact .section-content #contact .contact .contact_logo {
  position: absolute;
  top: 0;
  left: 0;
}

.section_contact .section-content #contact .contact .contact_logo .contact_logo_content a {
  display: inline-block;
}

.section_contact .section-content #contact .contact .contact_logo .contact_logo_content a img {
  width: 100%;
}

.section_contact .section-content #contact .contact .contact_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne {
  line-height: 3;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne p {
  color: #000;
  font-size: 24px;
  font-family: ZenKakuGothicNew-Black;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .contact_title_text_contrne_span {
  position: relative;
  padding: 10px 0;
  -webkit-padding: 10px 0;
  -moz-padding: 10px 0;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .contact_title_text_contrne_span .contact_title_text_contrne_span_content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .contact_title_text_contrne_span .contact_title_text_contrne_span_content span {
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: #000000;
  position: relative;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .contact_title_text_contrne_span .contact_title_text_contrne_span_content span::before {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #FFC700;
  position: absolute;
  left: 0;
  top: 0;
  animation: contact_title_text_contrne_span 5s infinite;
}

@keyframes contact_title_text_contrne_span {
  0% {
    width: 0%;
  }
  50% {
    width: 60%;
  }
  100% {
    width: 0%;
  }
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill {
  position: relative;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill .emill_content {
  display: flex;
  justify-content: center;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill .emill_content a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill .emill_content a:hover .emill_content_img::after {
  border-radius: 50%;
  transform: rotate(0deg);
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill .emill_content a .emill_content_img {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill .emill_content a .emill_content_img img {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill .emill_content a .emill_content_img::after {
  content: '';
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #FFC700;
  position: absolute;
  z-index: -1;
  transform: rotate(45deg);
  transition: border-radius .5s ease-in-out, transform .5s ease-in-out;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill .emill_content a .emill_content_p p {
  font-size: 16px;
  margin-left: 20px;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill_icon {
  position: relative;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill_icon .emill_icon_content {
  margin: 0 auto;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill_icon .emill_icon_content ul {
  display: flex;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill_icon .emill_icon_content ul li {
  margin: 0 7px;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill_icon .emill_icon_content ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-padding: 20px 0;
  -moz-padding: 20px 0;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up .up_content {
  margin: 0 auto;
  position: relative;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up .up_content a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up .up_content a img {
  position: absolute;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up .up_content a .up_span {
  width: 100px;
  height: 100px;
  border: 3px solid #FFC700;
  border-radius: 50%;
  position: relative;
  animation: up 20s infinite;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up .up_content a .up_span .up_span_cpntent {
  margin: 0 auto;
}

.section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up .up_content a .up_span .up_span_cpntent span {
  width: 20px;
  height: 20px;
  background-color: #FFC700;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 45%;
  z-index: -1;
}

.section_contact .section-content #contact .contact .contact_content .contact_map {
  width: 70%;
}

.section_contact .section-content #contact .contact .contact_content .contact_map .contact_map_content {
  width: 100%;
  height: 80%;
}

.section_contact .section-content #contact .contact .contact_content .contact_map .contact_map_content iframe {
  border-top-left-radius: 22px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

@keyframes up {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1427px) {
  .section_contact {
    height: 100vh;
  }
  .section_contact::after {
    content: '';
    width: 100%;
    height: 100%;
    background: url("../images/Frame18.svg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  .section_contact::before {
    width: 100%;
    height: 100%;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
  }
  .section_contact .section-content {
    width: 100%;
    display: inline-block;
  }
  .section_contact .section-content #contact .contact {
    width: 100%;
  }
  .section_contact .section-content #contact .contact .contact_logo {
    display: none;
  }
  .section_contact .section-content #contact .contact .contact_content {
    justify-content: center;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text {
    width: 100%;
    order: 1;
    margin: 0 auto;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text {
    order: 1;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne {
    text-align: center;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .contact_title_text_contrne_span .contact_title_text_contrne_span_content span {
    width: 100%;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .contact_title_text_contrne_span .contact_title_text_contrne_span_content span::before {
    background-color: #fff;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill .emill_content a .emill_content_img::after {
    background-color: #fff;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill_icon .emill_icon_content ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up {
    order: 2;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up .up_content a .up_span {
    border: 3px solid #fff;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up .up_content a .up_span .up_span_cpntent span {
    background-color: #fff;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_map {
    width: 100%;
    order: 2;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_map .contact_map_content {
    height: 100%;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_map .contact_map_content iframe {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 610px) {
  .section_contact .section-content #contact .contact .contact_content .contact_text {
    width: 100%;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content {
    display: block;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text {
    width: 100%;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .contact_title_text_contrne_span .contact_title_text_contrne_span_content span {
    width: 50%;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .contact_title_text .contact_title_text_contrne .emill .emill_content a:hover .emill_content_img::after {
    background-color: #fff;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_text .contact_text_content .up {
    width: 100%;
    display: inline-block;
  }
  .section_contact .section-content #contact .contact .contact_content .contact_map {
    width: 100%;
  }
}
