@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, sm, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'ZenKakuGothicNew-Black';
  src: url("../font/ZenKakuGothicNew-Black.ttf");
}

@font-face {
  font-family: 'BlackOpsOne-Regular';
  src: url("../font/BlackOpsOne-Regular.ttf");
}

.header .header_content .header_box .header_box_content, .header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text, .header .header_content .header_banner .header_banner_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header {
  position: relative;
  width: 1400px;
}

.header .header_content {
  margin: 0 auto;
}

.header .header_content .header_box {
  position: relative;
  left: 0;
  z-index: 3;
  width: 100%;
}

.header .header_content .header_box .header_box_content .logo {
  width: 50%;
}

.header .header_content .header_box .header_box_content .logo .logo_content a {
  display: inline-block;
}

.header .header_content .header_box .header_box_content .menu {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header .header_content .header_box .header_box_content .menu .menu_content {
  /* 全螢幕菜單的初始樣式 */
}

.header .header_content .header_box .header_box_content .menu .menu_content img {
  position: relative;
  z-index: 1;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu {
  /* 初始狀態隱藏 */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  /* 確保菜單在前面 */
  z-index: 9999999999999999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text {
  position: relative;
  padding: 0;
  width: 430px;
  max-width: 430px;
  height: 100%;
  background: url("../images/iPhone 14 & 15 Pro Max - 1.svg") no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 160px;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text img {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 999;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text ul {
  list-style: none;
  width: 60%;
  display: inline-block;
  line-height: 1.3;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text ul li {
  margin: 20px 0;
  text-align: left;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text ul li img {
  position: relative;
  top: 0;
  right: 0;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-family: ZenKakuGothicNew-Black;
  letter-spacing: 16px;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text ul li .menu-button {
  color: #fff;
  font-size: 24px;
  font-family: ZenKakuGothicNew-Black;
  letter-spacing: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text ul li .menu-button .menu-button_icon {
  display: inline-block;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text ul li .menu-button .menu-button_icon img {
  position: relative;
  top: 0;
  right: 0;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text ul li .dropdown-menu {
  display: none;
  top: 50px;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  z-index: 1;
}

.header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text ul li .dropdown-menu a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  font-size: 18px;
}

.header .header_content .header_banner {
  position: relative;
}

.slogan {
  position: absolute;
  left: 0;
  bottom: -40px;
}

.slogan .slogan_content {
  margin: 0 auto dd dd dd d;
  /* 跑馬燈容器 */
  /* 跑馬燈內容 */
}

.slogan .slogan_content .marquee_myModal {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

.slogan .slogan_content .marquee_myModal {
  display: inline-block;
  white-space: nowrap;
  font-family: "BlackOpsOne-Regular";
  font-weight: 600;
  font-size: 160px;
  animation: scroll-left 10s linear infinite;
}

@media screen and (max-width: 650px) {
  .header {
    width: 100%;
  }
  .header .header_content {
    margin: 0 20px;
    height: 100%;
  }
}

@media screen and (max-width: 650px) {
  #header .header .header_content .header_banner .header_banner_contents img {
    width: 10em;
  }
}

@media screen and (max-width: 520px) {
  #header .header .header_content .header_box .header_box_content .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text {
    width: 100%;
    border-bottom-left-radius: 0px;
  }
}

@media screen and (max-width: 340px) {
  .header .header_content .header_box .header_box_content .menu .menu_content .fullscreen-menu .fullscreen-menu_content .fullscreen-menu_content_text ul li img {
    width: 100%;
    height: auto;
  }
  .header .header_content .header_banner .header_banner_content img {
    width: 10em;
  }
}
