@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, sm, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'ZenKakuGothicNew-Black';
  src: url("../font/ZenKakuGothicNew-Black.ttf");
}

@font-face {
  font-family: 'BlackOpsOne-Regular';
  src: url("../font/BlackOpsOne-Regular.ttf");
}

#contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

body, html, p, b {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif, ZenKakuGothicNew-Black;
}

/* 基本設置 */
.parallax-section {
  position: relative;
  height: 100vh;
}

.parallax-section .section-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 3em;
}

/* 不同背景圖片 */
.parallax-bg1 {
  overflow: hidden;
  background-image: url("../images/Component4.svg");
  background-size: cover;
}

.parallax-bg3 {
  width: 100%;
  height: 100%;
  background-image: url("../images/Frame18.svg");
  background-size: contain;
}

.parallax-bg4 {
  background-image: url("../images/group5.svg");
  background-size: cover;
}

.static-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 2em;
}

.static-section_work {
  position: relative;
}

.static-section_work::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .5;
  background-color: #000000;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#service {
  height: 100%;
  display: flex;
  align-items: center;
}

#contact {
  height: 100%;
  position: relative;
}

@media screen and (max-width: 1186px) {
  .static-section {
    height: auto;
  }
}

@media screen and (max-width: 1186px) {
  .parallax-bg1 {
    background-position: top;
  }
  .parallax-bg3 {
    height: auto;
  }
}
